<script type="module">
    import {getArrivalTimes} from "$lib/infra/fetcher.ts";

    export let data
    const arrivalTimes = getArrivalTimes(data.stop)
</script>

<h1>Opéra (7)</h1>
{#await arrivalTimes then arrivalTimes}
    {#each arrivalTimes as arrivalTime}
        <p>{arrivalTime}</p>
    {/each}
{/await}
